@font-face {
font-family: "Trajan Pro";
src: url("Font/Trajan Pro Regular.ttf");
}

.destination:hover .destlist {
    visibility: visible;
}


.destlist {
    position: absolute;
    top: 100%;
    display: block;
    visibility: hidden !important;
}

.destlist > li {
    display: block;
    padding: 5px;
    width: 100px;
    background-color: lightcoral;
    color: white;
}

.topslider > .carousel > .carousel-inner {
    opacity: 1;
}

.carousel-item > img {
    width: 100%;
}

.destcard > img {
    transition-duration: 0.2s;
    height: 200px;
    width: 100%;
}

.destcard:hover {
    cursor: pointer;
}

.destcard:hover img {
    opacity: 0.7;
}

.destcard:hover .label_know_more {
    visibility: visible;
}

.label_know_more {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    z-index: 5;
    left: 30%;
    visibility: hidden;
    transition-duration: 0.2s;
    color: maroon;
}

.destcard > a {
    color: black;
    text-decoration: overline;
}

footer {
    height: auto !important;
    width: 98.8vw !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0px 0px 13px black;
    color: white !important;
    box-shadow:
}

#seardest {
    box-shadow: 10px 10px 13px black;
    width: 60rem;
    height: 8rem;
    border-radius: 4px;
    background-color: black;
    z-index: 999;
    margin-top: 7rem;
    margin-bottom: 8rem;
    left: 18rem;
    bottom: 0rem;
}

.card {
    border-color: #a09393;
}

.form-group label {
    color: orange;
}

.card:hover {
    border: 1.2px solid orange;
    transition: border 0.125s ease-in-out;
    cursor: pointer;
}

.list-unstyled li a {
    color: white;
}

.img-thumbnail:hover {
    cursor: pointer;
}

.navbar {
    background-color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0px 0px 13px black;
}
