#navg {
    background-color: white !important;
    box-shadow: 0px 0px 13px black;
    position: fixed;
    opacity: 1;
    width: 100vw;
    z-index: 99;
}

.topimg {
    background-size: cover;
    overflow: hidden;
    font-weight: bold;
    color: white;
    text-shadow: 0px 2px 2px#000000;

}

.nav-item a:hover{
   background-color: orange;
    color: black !important;
    border-radius: 3px;
}

p {
    padding: 10px;
    margin: 15px;
}

.company {
    color: #a09ae6;
}

.imgtiles,
.cardstrip {
    margin: 10px;
    transition: all .3s ease;
}

.cardstrip:hover {
    cursor: pointer;
    transform: translateZ(0) scale(1.20);
}

.cardstrip {
    width: 120px;
    height: 80px;
}

.cardstrip img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 300vh;
}

.carousel {
    width: 60vw;
    top: 5%;
    bottom: 5%;
    left: 20%;
    /*    height: 75%;*/
    overflow: hidden;
}

.carousel-item {
    background-size: cover;
}

.transparent_black {
    background-color: rgba(0, 0, 0, 0.67);
    height: 100vh;
    width: 100vw;
}

#photoslider {
    visibility: hidden;
    transition-duration: 0.5s;
}

.close {
    font-size: 50px;
    margin: 20px;
}

.about {
    margin-top: 55px;
}

.headunder {
    border: 1.5px solid black;
}

.aboutinfo {
    word-spacing: 5px;
    font-size: 20px;
    text-align: justify;
}

.infocard {
    margin: 10px;
}

.thingstodo {
    border-left: 1px solid #ccc;
}

.hotelnspa {
    border-right: 1px solid #ccc;
}

.display-6 {
    margin-bottom: 20px;
}

center > .card {
    margin: 20px;
    height: 360px;
}

.card {
    border-color: #a09393;
}

.card:hover {
    border: 1.2px solid orange;
    transition: border 0.125s ease-in-out;
    cursor: pointer;
}

.card-title {
    color: orange;
}

.card-img-top {
    width: 18rem;
    height: 13rem !important;
    background-size: cover;
}

footer {
    background-color: rgba(0, 0, 0, 1) !important;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 13px black;
    width: 98.8rem;
    margin-top: 40px;
    color: white !important;
}

.container about {
    align-items: center !important;
}

.carousel-caption {
    visibility: hidden;
}
